/* #auth img{
  width: 20%;
} */

body {
  background-image: url("../Responsive-Portfolio/assets/images/background.jpg");
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
}